/* Every time you change this CSS please bump $wgFlaggedRevStyleVersion in FlaggedRevs.php */

/* Standard User Interface */
.flaggedrevs_basic,
.flaggedrevs_quality,
.flaggedrevs_pristine,
.flaggedrevs_notice,
.flaggedrevs_warning,
.flaggedrevs_preview {
	border: 1px solid #aaa;
	padding: 5px;
	font-size: 80%;
	font-weight: normal;
	line-height: 1.5em;
	margin: .5em 1em 0em 0em;
	text-align: center;
	clear: both;
}

.flaggedrevs_basic {
	background-color: #f0f8ff;
}
.flaggedrevs_quality {
	background-color: #f0fff0;
}
.flaggedrevs_pristine {
	background-color: #fffff0;
}
.flaggedrevs_notice {
	background-color: #f9f9f9;
}
.flaggedrevs_warning {
	background-color: #fffff0;
	margin: 0em 1em 0em 0em;
}
.flaggedrevs_preview {
	background-color: #f9f9f9;
	color: darkred;
}

.flaggedrevs_notes {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 80%;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.fr-text-value {
    width: 100px;
}

.fr-checkbox {
	padding: 0px;
	width: 16px;
	height: 16px;
	position: relative;
	float: left;
	top: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
    background-image: url(../FlaggedRevs/img/boxC.png);
}

.fr-marker-20,
.fr-marker-40,
.fr-marker-60,
.fr-marker-80,
.fr-marker-100 {
    background-position: bottom left;
    background-repeat: no-repeat;    
    padding-bottom: 3px;
}

.fr-marker-20 {
    background-image: url(../FlaggedRevs/img/bar_20.png);
}
.fr-marker-40 {
    background-image: url(../FlaggedRevs/img/bar_40.png);
}
.fr-marker-60 {
    background-image: url(../FlaggedRevs/img/bar_60.png);
}
.fr-marker-80 {
    background-image: url(../FlaggedRevs/img/bar_80.png);
}
.fr-marker-100 {
    background-image: url(../FlaggedRevs/img/bar_100.png);
}

/* Short User Interface */
.flaggedrevs_short {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 85%;
	font-weight: normal;
	margin: 0em 0em .5em 1em;
	position: relative;
	float: right;
	text-align: left;
	max-width: 400px;
	line-height: 16px;
}

.fr-text {
	height: 1em;
	line-height: 1em;
	margin: 0px 7px 0px 0px;
	padding: 0px;
	font-weight: bold;
	width: 80px;
}

.fr-value20,
.fr-value40,
.fr-value60,
.fr-value80,
.fr-value100 {
	height: 1em;
	line-height: 1em;
	width: 95px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;
}

.fr-value20 {
	background-image: url(../FlaggedRevs/img/fr-marker-20.png);
}
.fr-value40 {
	background-image: url(../FlaggedRevs/img/fr-marker-40.png);
}
.fr-value60 {
	background-image: url(../FlaggedRevs/img/fr-marker-60.png);
}
.fr-value80 {
	background-image: url(../FlaggedRevs/img/fr-marker-80.png);
}
.fr-value100 {
	background-image: url(../FlaggedRevs/img/fr-marker-100.png);
}

.flaggedrevs-box0,
.flaggedrevs-box1,
.flaggedrevs-box2,
.flaggedrevs-box3 {
	border: 1px solid #aaa;
	text-align: center;
	font-size: 85%;
	clear: both;
}

.flaggedrevs-box0 {
	background-color: #f9f9f9;
}
.flaggedrevs-box1 {
	background-color: #f0f8ff;
}
.flaggedrevs-box2 {
	background-color: #f0fff0;
}
.flaggedrevs-box3 {
	background-color: #fffff0;
}

.flaggedrevs-color-0 {
	background-color: #f9f9f9;
}
.flaggedrevs-color-1 {
	background-color: #f0f8ff;
}
.flaggedrevs-color-2 {
	background-color: #f0fff0;
}
.flaggedrevs-color-3 {
	background-color: #fffff0;
}

/* Both User Interfaces */
.flaggedrevs_toggle {
	color: blue;
}

.fr-icon-current,
.fr-icon-stable,
.fr-icon-quality {
	padding: 0px;
	margin: 0px;
	width: 18px;
	height: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
} 
.fr-icon-current {
	background-image: url(../FlaggedRevs/img/1.png);
}
.fr-icon-stable {
	background-image: url(../FlaggedRevs/img/2.png);
}    
.fr-icon-quality {
	background-image: url(../FlaggedRevs/img/3.png);
}

.fr-diff-ratings {
	font-size: 90%;
	line-height: 1em;
}

.fr-diff-to-stable {
	line-height: 1em;
}

/* Review form */
.flaggedrevs_reviewform {
	background-color: #f9f9f9;
	font-size: 90%;
	clear: both;
}

.flaggedrevs_reviewform * {
	vertical-align: middle;
	line-height: 1em;
}

.fr-rating-option-0 {
	background-color: #f5ecec;
}
.fr-rating-option-1 {
	background-color: #f0f8ff;
}
.fr-rating-option-2 {
	background-color: #f0fff0;
}
.fr-rating-option-3 {
	background-color: #fef0db;
}
.fr-rating-option-4 {
	background-color: #fffff0;
}
