.flaggedrevs_tag1, .flaggedrevs_tag2, .flaggedrevs_tag3, .flaggedrevs_notes {
	border: 1px solid #aaa;
	background-color: #f0f8ff;
	padding: 10px;
	font-size: 80%;
	margin-left: 12px;
	width: 200px;
	position: relative;
	float: right;
	top: 5px;
	right: 15px;
}
.flaggedrevs_short {
	padding: 0px;
	margin: 0px;
	width: 27px;
	position: relative;
	float: right;
	top: 5px;
	right: 15px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 27px;
        cursor: pointer;
}

.value1 {
	background-image: url(../FlaggedRevs/img/1.png);
}    

.value2 {
	background-image: url(../FlaggedRevs/img/2.png);
}
.value3 {
	background-image: url(../FlaggedRevs/img/3.png);
}
.flaggedrevs_notice {
	font-size: 80%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}

.fr-text {
	height: 14px;
	margin: 0px 7px 0px 0px;
	padding: 0px;
	float: left;
	line-height: 15px;
	font-weight: bold;
	width: 80px;
}
.fr-marker {
	height: 14px;
	width: 95px;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	float: left;
	background-image: url(../FlaggedRevs/img/fr-marker-20.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 15px;
	text-align: center;
}
.value40 {
	background-image: url(../FlaggedRevs/img/fr-marker-40.png);
}
.value60 {
	background-image: url(../FlaggedRevs/img/fr-marker-60.png);
}
.value80 {
	background-image: url(../FlaggedRevs/img/fr-marker-80.png);
}
.value100 {
	background-image: url(../FlaggedRevs/img/fr-marker-100.png);
}
.fr-group {
	display: block;
	clear: left;
	float: left;
	margin-top: 5px;
}
.flaggedrevs_tag1 p {
	position: relative;
	margin: 0px;
	padding: 0px 0px 10px;
	line-height: 15px;
}
#close_review {
        position:relative;
        float: right;
        z-index: 5;
	font-size: 150%;
        margin-top: -5px;
        cursor: pointer;
}

