/* Standard UI */
.flaggedrevs_tag1,
.flaggedrevs_tag2,
.flaggedrevs_tag3,
.flaggedrevs_notice,
.flaggedrevs_warning {
	border: 1px solid #aaa;
	padding: 3px;
	font-size: 80%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.flaggedrevs_toggle {
	color: blue;
}

.flaggedrevs_tag1 {
	background-color: #f0f8ff;
}
.flaggedrevs_tag2 {
	background-color: #f0fff0;
}
.flaggedrevs_tag3 {
	background-color: #fffff0;
}
.flaggedrevs_notice {
	background-color: #f9f9f9;
}
.flaggedrevs_warning {
	background-color: #fffff0;
}

.flaggedrevs_notes {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 80%;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.fr-text-value {
    min-width:100px;
    width: 100px;
}

.fr-marker-20 {
    background-image: url(../FlaggedRevs/img/bar_20.png);
    background-position: bottom left;
    background-repeat: no-repeat;    
    padding-bottom: 3px;
}
.fr-marker-40 {
    background-image: url(../FlaggedRevs/img/bar_40.png);
    background-position: bottom left;
    background-repeat: no-repeat;    
    padding-bottom: 3px;
}
.fr-marker-60 {
    background-image: url(../FlaggedRevs/img/bar_60.png);
    background-position: bottom left;
    background-repeat: no-repeat;    
    padding-bottom: 3px;

}
.fr-marker-80 {
    background-image: url(../FlaggedRevs/img/bar_80.png);
    background-position: bottom left;
    background-repeat: no-repeat;    
    padding-bottom: 3px;
}
.fr-marker-100 {
    background-image: url(../FlaggedRevs/img/bar_100.png);
    background-position: bottom left;
    background-repeat: no-repeat;    
    padding-bottom: 3px;
}

/* Short UI */
.flaggedrevs_short {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 3px;
	font-size: 80%;
	margin-left: 10px;
	margin-right: 0px;
	text-align: left;
	float: right;
	width: 320px;
}

.fr-tab_current,
.fr-tab_stable,
.fr-tab_quality {
	padding: 0px;
	margin: 0px;
	width: 27px;
	height: 27px;
	position: relative;
	float: left;
	top: -2px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
} 

.fr-tab_current {
	background-image: url(../FlaggedRevs/img/1.png);
}
.fr-tab_stable {
	background-image: url(../FlaggedRevs/img/2.png);
}    
.fr-tab_quality {
	background-image: url(../FlaggedRevs/img/3.png);
}

.fr-text {
	height: 14px;
	line-height: 15px;
	margin: 0px 7px 0px 0px;
	padding: 0px;
	font-weight: bold;
	width: 80px;
}

.fr-value20,
.fr-value40,
.fr-value60,
.fr-value80,
.fr-value100 {
	height: 14px;
	line-height: 15px;
	width: 95px;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}

.fr-value20 {
	background-image: url(../FlaggedRevs/img/fr-marker-20.png);
}
.fr-value40 {
	background-image: url(../FlaggedRevs/img/fr-marker-40.png);
}
.fr-value60 {
	background-image: url(../FlaggedRevs/img/fr-marker-60.png);
}
.fr-value80 {
	background-image: url(../FlaggedRevs/img/fr-marker-80.png);
}
.fr-value100 {
	background-image: url(../FlaggedRevs/img/fr-marker-100.png);
}

.flaggedrevs_box0,
.flaggedrevs_box1,
.flaggedrevs_box2,
.flaggedrevs_box3 {
	border: 1px solid #aaa;
	text-align: center;
	font-size: 85%;
}

.flaggedrevs_box0 {
	background-color: #f9f9f9;
}
.flaggedrevs_box1 {
	background-color: #f0f8ff;
}
.flaggedrevs_box2 {
	background-color: #f0fff0;
}
.flaggedrevs_box3 {
	background-color: #fffff0;
}

/* Hack to avoid extra borders */
.flaggedrevs_box0a {
	background-color: #f9f9f9;
}
.flaggedrevs_box1a {
	background-color: #f0f8ff;
}
.flaggedrevs_box2a {
	background-color: #f0fff0;
}
.flaggedrevs_box3a {
	background-color: #fffff0;
}
