@import 'mediawiki.skin.variables.less';

/**
 * FlaggedRevs Basic Stylesheet
 * @author Aaron Schulz
 */

/* Standard User Interface */
div.mw-fr-edit-messages {
	margin-bottom: @spacing-50;
}

span.flaggedrevs_important {
	font-size: 115%;
	font-weight: bold;
}

.fr-text {
	height: 1em;
	line-height: 1em;
	margin: 0 7px 0 0;
	padding: 0;
	font-weight: bold;
	width: 80px;
}

.fr-value20,
.fr-value40,
.fr-value60,
.fr-value80,
.fr-value100 {
	height: 1em;
	line-height: 1em;
	width: 95px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;
}

a.fr-toggle-text {
	font-weight: bold;
	cursor: pointer;
}

li.fr-hist-stable-margin {
	margin-top: 2em;
}

.fr-diff-ratings {
	font-size: 90%;
	font-weight: bold;
	line-height: 1em;
	width: 100%;
}

.fr-diff-to-stable {
	line-height: 1em;
}

/* Special pages */
.fr-pending-long {
	background-color: @background-color-disabled-subtle;
}

.fr-pending-long2 {
	background-color: @background-color-destructive-subtle;
}

.fr-unreviewed-unwatched {
	background-color: @background-color-destructive-subtle;
}

.mw-fr-reviewlink {
	font-weight: bold;
}

/* History items */
.fr-hist-basic-auto,
.fr-hist-basic-user,
.mw-fr-hist-difflink {
	font-size: 85%;
}

.cdx-fr-css-icon-review--status {
	&--stable {
		.cdx-mixin-css-icon( @cdx-icon-article-check );
	}

	&--pending {
		.cdx-mixin-css-icon( @cdx-icon-eye-closed );
	}

	&--unchecked {
		.cdx-mixin-css-icon( @cdx-icon-info-filled );
	}
}

.cdx-fr-css-icon--close {
	.cdx-mixin-css-icon( @cdx-icon-close, @param-is-button-icon: true );
	background-color: @background-color-backdrop-dark;
}

.mw-fr-revision-details-dialog {
	position: absolute;
	right: -32px;
	z-index: @z-index-above-content;
}

.mw-fr-review-status-indicator {
	display: flex;
	gap: 5px;
}
